@page "/layouts/absolute"

<ContentControl Tag="@("Absolute Layouts")">
    <ScrollViewer>
        <StackPanel Margin="new(8)" Spacing="12">
            <Label>Absolute Layout with absolute values</Label>

            <Canvas>
                <Border Background="Brushes.Silver" Attached="(Border b) => b.CanvasAll(new (0, 10, 200, 5))"/>
                <Border Background="Brushes.Silver" Attached="(Border b) => b.CanvasAll(new (0, 20, 200, 5))"/>
                <Border Background="Brushes.Silver" Attached="(Border b) => b.CanvasAll(new (10, 0, 5, 65))" />
                <Border Background="Brushes.Silver" Attached="(Border b) => b.CanvasAll(new (20, 10, 5, 65))" />

                <Label
                    FontSize="24"
                    CornerRadius="new(30)"
                    >
                    Stylish Header
                </Label>
            </Canvas>

            <Label Padding="new(0, 30, 0, 0)">Absolute Layout with computed values</Label>

            <Canvas Height="200">
                <Border Background="Brushes.Green"
                         CornerRadius="new(10)"
                         Attached="(Border b) => b.CanvasAll(_greenX, _greenY, 20, 20)" />

                <Border Background="Brushes.Blue"
                         CornerRadius="new(8)"
                         Attached="(Border b) => b.CanvasAll(_blueX, _blueY, 16, 16)"/>
            </Canvas>

            <Slider Minimum="0" Maximum="1" ValueChanged="e => SliderValueChanged(e.Value)" />

        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {
double _greenX;
double _greenY;
double _blueX;
double _blueY;

void SliderValueChanged(double value)
{
    _blueX = value;
    _greenX = value;

    _greenY = (-Math.Cos(_blueX * 10) + 1) / 2;
    _blueY = (-Math.Cos(_blueX * 20) + 1) / 2;
}
}