@page "/layouts/grids"

<ContentControl Tag="@("Grids")">
    <ScrollViewer>
        <StackPanel Spacing="12">

            <Label>Grid with attached properties:</Label>


            <Grid ColumnDefinitions="@("*,*,*")" RowDefinitions="@("*,*,*")" HorizontalAlignment="HorizontalAlignment.Center" Width="300">
                <Border Background="Brushes.DarkViolet" Grid.Row="0" Grid.Column="0" Grid.RowSpan="2">
                    <Label HorizontalAlignment="HorizontalAlignment.Center">1</Label>
                </Border>

                <Border Background="Brushes.DarkRed" Grid.Row="0" Grid.Column="1">
                    <Label HorizontalAlignment="HorizontalAlignment.Center">2</Label>
                </Border>

                <Border Background="Brushes.DarkSeaGreen" Grid.Row="0" Grid.Column="3">
                    <Label HorizontalAlignment="HorizontalAlignment.Center">3</Label>
                </Border>

                <Border Background="Brushes.LightCyan" Grid.Row="@(1)" Grid.Column=@(1) Grid.ColumnSpan="2" Grid.RowSpan="2">
                    <Label HorizontalAlignment="HorizontalAlignment.Center">4</Label>
                </Border>

                <Border Background="Brushes.DarkGreen" Grid.Row="2" Grid.Column="0">
                    <Label HorizontalAlignment="HorizontalAlignment.Center">5</Label>
                </Border>
            </Grid>

        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {

}
