@page "/controls/labels"

<ContentControl Tag="@("Labels")">
    <ScrollViewer>
        <StackPanel Margin="new(10)" Spacing="20">

            <Label ChildContent="@(b => b.AddContent(0, "Static label with Text property"))" />

            <Label>Static label with child content</Label>

            <Label ChildContent=@(b => b.AddContent(0, $"Dynamic - {RandomText} - label with Text property")) />

            <Label>Dynamic - @RandomText - label with child content</Label>

            @* <Label>
                <Span Text="Label with spans " />
                <Span TextColor="Colors.Red">with color, </Span>
                <Span TextDecorations="TextDecorations.Strikethrough" Text="text decorations" />
                <Span FontAttributes="FontAttributes.Bold" Text=" and font attributes." />
            </Label> *@

            <Label FontSize="24">Label with bigger font size</Label>

        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {
Random _random = new();

string RandomText => _random.Next().ToString();
}
