@using BlazorBindings.Maui.Elements.Shapes
@using Microsoft.Maui.Controls.Shapes
@using System.Globalization

<ContentPage Title="Shapes">
    <Grid RowDefinitions="Auto,*">
        <Slider Grid.Row="0" @bind-Value="_value" Maximum="20" />

        <ScrollView Grid.Row="1">
            <VerticalStackLayout Padding="10" Spacing="20">

                <Label>Filled ellipse</Label>
                <Ellipse FillColor="Colors.Coral"
                         WidthRequest="EllipseWidth"
                         HeightRequest="50" />

                <Label>Red cirle</Label>
                <Ellipse StrokeColor="Colors.Red"
                         StrokeThickness="CircleThickness"
                         WidthRequest="150"
                         HeightRequest="150" />


                <Label>Blue diagonal line</Label>
                <Line X1="LineX1"
                      Y1="0"
                      X2="0"
                      Y2="120"
                      StrokeColor="Colors.DarkBlue"
                      StrokeDashArray="1,1"
                      StrokeDashOffset="6" />

                <Label>Polygon that uses the Nonzero fill rule</Label>
                <Polygon Points="0,48 0,144 96,150 100,0 192,0 192,96 50,96 48,192 150,200 144,48"
                         FillColor="Colors.Black"
                         FillRule="FillRule.Nonzero"
                         StrokeColor="Colors.Yellow"
                         StrokeThickness="PolygonThickness" />


                <Label>Dashed polyline</Label>
                <Polyline Points=@($"0,0 10,30 15,0 18,60 23,30 35,30 40,0 43,60 48,30 {PolylinePoint},30")
                          StrokeColor="Colors.Red"
                          StrokeThickness="2"
                          StrokeDashArray="1,1"
                          StrokeDashOffset="6" />

                <Label>Rectangle with gradient fill</Label>
                <Rectangle RadiusX="50"
                           RadiusY="10"
                           WidthRequest="200"
                           HeightRequest="100">
                    <Fill>
                        <RadialGradientBrush Radius="0.5">
                            <GradientStop Color="Colors.DarkBlue" Offset="0" />
                            <GradientStop Color="Colors.Red" Offset="GradientOffset" />
                        </RadialGradientBrush>
                    </Fill>
                </Rectangle>

            </VerticalStackLayout>
        </ScrollView>
    </Grid>
</ContentPage>

@code {
double _value = 10;

string PolylinePoint => (100 + 5 * _value).ToString(CultureInfo.InvariantCulture);
float GradientOffset => (float)(0.5 + _value / 10);
double PolygonThickness => 3 + _value;
double LineX1 => 40 + 5 * _value;
double CircleThickness => 4 + _value / 5;
double EllipseWidth => 150 + _value;
}
