@using ControlGallery.Views.ErrorBoundaries

<CascadingValue Value="123" Name="test">
    <ErrorBoundary @ref="_errorBoundary">
        <ChildContent>
            @ChildContent
        </ChildContent>

        <ErrorContent>
            <ContentPage Title="Error">
                <VerticalStackLayout Margin="8" Spacing="8">
                    <Label Text="Oops!" HorizontalOptions="LayoutOptions.Center" FontSize="20" />
                    <Label Text="Unexpected error has occured:" />
                    <Label>@context.Message</Label>

                    <Button Text="Return" OnClick="Recover" />
                    @if (AnyOpenPages)
                    {
                        <Button Text="Close" OnClick="Close" />
                    }
                </VerticalStackLayout>
            </ContentPage>
        </ErrorContent>
    </ErrorBoundary>
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    ErrorBoundary _errorBoundary;
    MC.INavigation Navigation => MC.Application.Current.MainPage.Navigation;
    bool AnyOpenPages => Navigation.NavigationStack.Count > 1 || Navigation.ModalStack.Count > 0;

    void Recover()
    {
        _errorBoundary.Recover();
    }

    async Task Close()
    {
        await Navigation.PopToRootAsync();
    }
}