@using ControlGallery.Views.ErrorBoundaries

<CascadingValue Value="123" Name="test">
    <ErrorBoundary @ref="_errorBoundary">
        <ChildContent>
            @ChildContent
        </ChildContent>

        <ErrorContent>
            <ContentControl Tag="@("Error")">
                <StackPanel Margin="new(8)" Spacing="8">
                    <Label HorizontalOptions="LayoutOptions.Center" FontSize="20">Oops!</Label>
                    <Label>Unexpected error has occured:</Label>
                    <Label>@context.Message</Label>

                    <Button OnClick="Recover">Return</Button>
                    @if (AnyOpenPages)
                    {
                        <Button OnClick="Close">Close</Button>
                    }
                </StackPanel>
            </ContentControl>
        </ErrorContent>
    </ErrorBoundary>
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    ErrorBoundary _errorBoundary;
    
    AvaloniaNavigation Navigation => ((ControlGalleryApplication)Avalonia.Application.Current).Navigation;

    private bool AnyOpenPages => Navigation.NavigationStack.Count > 1 || Navigation.ModalStack.Count > 0;

    void Recover()
    {
        _errorBoundary.Recover();
    }

    async Task Close()
    {
        await Navigation.PopToRootAsync(false);
    }
}