@inherits ElementTestBase

@code {

    [AvaloniaTest]
    public async Task FlyoutPageShouldBeAbleToSwitchContent()
    {
        int pageNumber = 1;
        var flyoutPage = await Render<AC.Flyout>(
            @<Flyout>
                @if (pageNumber == 1)
            {
                <ContentControl>
                    <Label>1</Label>
                </ContentControl>
            }
            else
            {
                <ContentControl>
                    <Label>2</Label>
                </ContentControl>
            }
            </Flyout>
            );

        Assert.That(GetContentLabel(), Is.EqualTo("1"));

        pageNumber = 2;
        StateHasChanged();

        Assert.That(GetContentLabel(), Is.EqualTo("2"));

        object GetContentLabel() => ((AC.Label)((AC.ContentControl)flyoutPage.Content).Content).Content;
    }
}
