<ContentControl Tag="@("Buttons")">
    <StackPanel Margin="new(20)">

        <StackPanel HorizontalAlignment="HorizontalAlignment.Left">
            <Button OnClick="ToggleFavorite">Favorite?</Button>

            <Image Width="100" Height="100" Source="@ImageHelper.LoadFromResource(isFavorite ? _favorite : _nonFavorite)" />
        </StackPanel>

    </StackPanel>
</ContentControl>

@code {
string _favorite = "favorite.png";
string _nonFavorite = "not_favorite.png";

bool isFavorite;

void ToggleFavorite()
{
    isFavorite = !isFavorite;
}
}
