<ContentControl Tag="Buttons">
    <StackPanel Margin="20">

        <StackPanel>
            <Button OnClick="ToggleFavorite">Favorite?</Button>

            <Image Source="@(isFavorite ? _favorite : _nonFavorite)" />
        </StackPanel>

    </StackPanel>
</ContentControl>

@code {
string _favorite = "favorite.png";
string _nonFavorite = "not_favorite.png";

bool isFavorite;

void ToggleFavorite()
{
    isFavorite = !isFavorite;
}
}
