@page "/controls/refreshviews"

<ContentPage Title="RefreshView">
    <RefreshView @bind-IsRefreshing="_isRefreshing" OnRefreshing="Refresh" HorizontalOptions="LayoutOptions.Center">
        <ScrollView>
            <VerticalStackLayout>
                <Label>Last refresh time: @_refreshTime</Label>
                <Label>Page was refreshed @_refreshCount times.</Label>
                <Button OnClick="TriggerRefresh" Text="Trigger refresh" />
            </VerticalStackLayout>
        </ScrollView>
    </RefreshView>
</ContentPage>

@code {
DateTime _refreshTime;
bool _isRefreshing = true;
int _refreshCount = 0;

public async Task Refresh()
{
    await Task.Delay(2000);
    _refreshTime = DateTime.Now;
    _refreshCount++;
}

public void TriggerRefresh()
{
    _isRefreshing = true;
}
}
