@using System.Collections.ObjectModel

@page "/collectionviewplayground/add-remove"

<ContentControl Tag="@("Add/Remove")">
    <Grid RowDefinitions="@(new("Auto,*"))">
        <StackPanel Grid.Row="0">
            <Button OnClick="Add">Add</Button>
            <Button OnClick="Remove">Remove selected</Button>
            <Button OnClick="RemoveAll">Remove all</Button>
        </StackPanel>

        <ListBox ItemsSource="_intItems"
            @bind-SelectedItem="_selectedItem"
            Grid.Row="1" >
            @* <EmptyView>
                <Label Text="Nothing here." />
            </EmptyView> *@

            <ItemTemplate>
                <Item Value="@context" />
            </ItemTemplate>
        </ListBox>
    </Grid>
</ContentControl>

@code {
    List<int> _intItems = Enumerable.Range(1, 100).ToList();
    int _selectedItem;

    void Add()
    {
        _intItems.Add(_intItems.LastOrDefault() + 1);
    }

    void Remove()
    {
        if (_selectedItem is int selectedInt)
        {
            _intItems.Remove(selectedInt);
        }
    }

    void RemoveAll()
    {
        _intItems.Clear();
    }
}
