@* @using System.Collections.ObjectModel;
@using ControlGallery.Views.Collections.CollectionView.DynamicItems;

<ContentControl Tag="Dynamic">
    <Grid RowDefinitions="Auto, *">
        <Grid Grid.Row="0" ColumnDefinitions="*,Auto,Auto" ColumnSpacing="6" Margin="6">

            <TextBox Grid.Column="0" @bind-Text="enteredText"
                   Watermark="Type something"
                   OnTextInput="AddText"
                   />

            <Button Grid.Column="1" OnTapped="CapturePhoto" Background="Colors.LightBlue">Camera</Button>
            <Button Grid.Column="2" OnTapped="SelectPhoto" Background="Colors.LightBlue">Images</Button>

        </Grid>

        <ListBox Grid.Row="1" ItemsSource="items">

            <ItemTemplate>
                @if (context is TextItemModel text)
                {
                    <TextItem Item="text" />
                }
                else if (context is ImageItemModel image)
                {
                    <ImageItem Item="image" />
                }
            </ItemTemplate>

        </ListBox>
    </Grid>
</ContentControl>

@code {
    [Inject] private IMediaPicker MediaPicker { get; set; }

    ObservableCollection<ItemModel> items = new(Items.GetItems());
    string enteredText;

    async Task SelectPhoto()
    {
        var photo = await MediaPicker.PickPhotoAsync();

        if (photo != null)
            items.Insert(0, new ImageItemModel(ImageSource.FromFile(photo.FullPath)));
    }

    async Task CapturePhoto()
    {
        var photo = await MediaPicker.CapturePhotoAsync();

        if (photo != null)
            items.Insert(0, new ImageItemModel(ImageSource.FromFile(photo.FullPath)));
    }

    void AddText()
    {
        items.Insert(0, new TextItemModel(enteredText));
        enteredText = "";
    }
}
 *@