@page "/collectionviewplayground/selection"

<ContentControl Tag="@("Selection")">
    <Grid RowDefinitions="@(new("Auto,Auto,*"))">
        <Button OnClick="SelectRandom"
                Grid.Row="0">
            Select Random
        </Button>

        <Label Grid.Row="1">Selected Items: @(_selectedItems == null ? "" : string.Join(", ", _selectedItems))</Label>

        <ListBox ItemsSource="_intItems"
            SelectionMode="AC.SelectionMode.Multiple"
            @bind-SelectedItems="_selectedItems"
            Grid.Row="2">
            <ItemTemplate>
                <Item Value="@context" />
            </ItemTemplate>
        </ListBox>
    </Grid>
</ContentControl>

@code {
    Random _random = new Random();
    List<int> _intItems = Enumerable.Range(1, 100).ToList();
    System.Collections.IList _selectedItems;

    void SelectRandom()
    {
        _selectedItems = _selectedItems ?? new List<object>();

        _selectedItems.Clear();
        _selectedItems.Add(_random.Next(1, 10));
    }
}
