@using System.Collections.ObjectModel

<ContentPage Title="Gesture Events">
    <VerticalStackLayout>
        <Label>Try tapping, double tapping, or swiping items.</Label>
        <Button Text="Add" OnClick="AddItem" />
        @foreach (var item in _items)
        {
            <GestureItem @key="item" Item="item" OnRemoving="RemoveItem" />
        }
    </VerticalStackLayout>
</ContentPage>


@code {
    List<int> _items = new(Enumerable.Range(0, 10));

    void RemoveItem(int i)
    {
        _items.Remove(i);
    }

    void AddItem()
    {
        var i = _items.DefaultIfEmpty(0).Max() + 1;
        _items.Add(i);
    }
}
