@using System.Collections.ObjectModel

<ContentControl Tag="@("Gesture Events")">
    <StackPanel>
        <Label>Try tapping, double tapping, or swiping items.</Label>
        <Button OnClick="AddItem">Add</Button>
        @foreach (var item in _items)
    {
        <GestureItem @key="item" Item="item" OnRemoving="RemoveItem" />
    }
    </StackPanel>
</ContentControl>


@code {
List<int> _items = new(Enumerable.Range(0, 10));

void RemoveItem(int i)
{
    _items.Remove(i);
}

void AddItem()
{
    var i = _items.DefaultIfEmpty(0).Max() + 1;
    _items.Add(i);
}
}
