@using BlazorBindings.Maui.Elements.AlohaKit

<ContentPage Title="AlohaKit">
    <ScrollView>
        <VerticalStackLayout Margin="20" Spacing="8">
            <Label>Rating: @RatingDescription</Label>
            <Rating ItemsCount="5" @bind-Value="ratingValue" />

            <BoxView HeightRequest="1" Color="Colors.Gray" />

            <Label>Avatar for: Inara Serra</Label>
            <Avatar Name="Inara Serra" BackgroundColor="Colors.LightPink" />

            <BoxView HeightRequest="1" Color="Colors.Gray" />

            <Slider Minimum="0" Maximum="1" @bind-Value="sliderValue" />

            <Grid ColumnDefinitions="*,Auto">
                @*<BlazorBindings.Maui.Elements.AlohaKit.ProgressBar IsVertical="true" Progress="sliderValue" ProgressColor="Colors.Green" Grid.Column="1" />*@
                <VerticalStackLayout Spacing="8">
@*                    <BlazorBindings.Maui.Elements.AlohaKit.ProgressBar Progress="sliderValue">
                        <ProgressBrush>
                            <LinearGradientBrush EndPoint="new(1,0)">
                                <GradientStop Offset="0" Color="Colors.Red" />
                                <GradientStop Offset="1" Color="Colors.Green" />
                            </LinearGradientBrush>
                        </ProgressBrush>
                    </BlazorBindings.Maui.Elements.AlohaKit.ProgressBar>*@
                    <ProgressRadial Minimum="0" Maximum="100" Value="(int)(sliderValue*100)" />
                </VerticalStackLayout>
            </Grid>

            <BoxView HeightRequest="1" Color="Colors.Gray" />

            <NumericUpDown @bind-Value="numericUpDownValue" />

            <BoxView HeightRequest="1" Color="Colors.Gray" />

            <HorizontalStackLayout>
                <AlhCheckBox @bind-IsChecked="checkboxChecked" />
                <Label>Are you busy?</Label>
            </HorizontalStackLayout>
            <BusyIndicator IsVisible="@checkboxChecked" />

            <HorizontalStackLayout>
                <Label>Toggle @(toggleOn ? "on" : "off")</Label>
                    <ToggleSwitch @bind-IsOn="toggleOn" />
                </HorizontalStackLayout>

            </VerticalStackLayout>

        </ScrollView>
    </ContentPage>

    @code {
int ratingValue = 3;
string RatingDescription => ratingValue switch
{
    1 => "Garbage",
    2 => "Bad",
    3 => "Mediocre",
    4 => "Good",
    5 => "Awesome",
    _ => "Why am I here?"
};

double sliderValue;

double numericUpDownValue;

bool checkboxChecked = true;
bool toggleOn;
}
