@using BlazorBindings.Maui.Elements.CommunityToolkit.Behaviors

<ContentPage Title="CommunityToolkit.Behaviors">
    <Behaviors>
        <StatusBarBehavior StatusBarColor="statusBarColor" />
    </Behaviors>

    <ChildContent>

        <VerticalStackLayout Margin="20" Spacing="8">

            <Button Text="Change status bar color" OnClick="ChangeStatusBarColor" />

            <Label>Entry with card number mask:</Label>
            <Entry @bind-Text="cardNumberValue" Keyboard="Keyboard.Numeric">
                <Behaviors>
                    <MaskedBehavior Mask="XXXX-XXXX-XXXX-XXXX" />
                </Behaviors>
            </Entry>
            <Label>Entered value: @cardNumberValue</Label>

            <Label>Entry with UserStoppedTypingBehavior</Label>
            <Entry T="string">
                <Behaviors>
                    <UserStoppedTypingBehavior Command="UserStoppedTyping"
                                               MinimumLengthThreshold="2"
                                               StoppedTypingTimeThreshold="1000" />
                </Behaviors>
            </Entry>
            <Label>Search Query: @searchValue</Label>

        </VerticalStackLayout>

    </ChildContent>
</ContentPage>

@code {
    Color statusBarColor;
    string cardNumberValue;
    string searchValue;

    List<Color> colors = new() {
        Colors.Red,
        Colors.Green,
        Colors.Blue,
        null
    };

    void ChangeStatusBarColor()
    {
        var index = (colors.IndexOf(statusBarColor) + 1) % colors.Count;
        statusBarColor = colors[index];
    }

    void UserStoppedTyping(string text)
    {
        searchValue = text;
    }
}
