@using BlazorBindings.Maui.Elements.CommunityToolkit

<Popup @ref="popup">
    <VerticalStackLayout Padding="8">
        <Label>Here's the popup</Label>
        <Label>Enter the value:</Label>
        <Entry @bind-Text="text" />
        <Button Text="Submit" OnClick="Close" />
    </VerticalStackLayout>
</Popup>

@code {
    Popup popup;
    string text;

    void Close()
    {
        popup.NativeControl.Close(text);
    }
}