@using BlazorBindings.Maui.Elements.CommunityToolkit
@using System.Collections.ObjectModel
@using CommunityToolkit.Maui.Core

<ContentPage Title="CommunityToolkit">
    <ScrollView>
        <VerticalStackLayout Margin="20" Spacing="8">
            <Label>Avatar with photo url</Label>
            <AvatarView Text="HW" ImageSource="urlSource" />

            <Label>Avatar without photo</Label>
            <AvatarView Text="HW" />

            <Label>Drawing view</Label>
            <DrawingView IsMultiLineModeEnabled="true"
                         ShouldClearOnFinish="false"
                         LineColor="Colors.Black"
                         HeightRequest="100"
                         WidthRequest="200" />
        </VerticalStackLayout>
    </ScrollView>
</ContentPage>

@code {
    ImageSource urlSource = "https://static.wikia.nocookie.net/firefly/images/f/fa/Wash.jpg";

}
