@page "/carouselviewplayground"

<ContentPage>
    <Grid RowDefinitions="*,Auto">

        <CarouselView Grid.Row="0"
                      ItemsSource="items"
                      Loop="false"
                      @bind-CurrentItem="currentItem"
                      @bind-Position="currentPosition">

            <ItemTemplate>
                <Frame BackgroundColor="Colors.LightPink"
                       CornerRadius="10"
                       HeightRequest="300"
                       WidthRequest="300">

                    <VerticalStackLayout>
                        <Label HorizontalOptions="LayoutOptions.Center">@context.Name</Label>
                        <Image Source="context.Image" />
                    </VerticalStackLayout>
                </Frame>
            </ItemTemplate>
        </CarouselView>

        <VerticalStackLayout Grid.Row="1">
            <Label>Current item: @currentItem?.Name</Label>
            <Label>Current position: @currentPosition</Label>
            <Button Text="Set last position" OnClick="() => currentPosition = 3" />
            <Button Text="Set item to Bruce" OnClick="() => currentItem = items[2]" />
        </VerticalStackLayout>
    </Grid>
</ContentPage>

@code {
    Item[] items = new Item[] {
        new("Nemo", "https://static.wikia.nocookie.net/pixar/images/a/aa/Nemo-FN.png/revision/latest/smart/width/250/height/250?cb=20160710221104"),
        new("Dory", "https://static.wikia.nocookie.net/pixar/images/1/1f/Dory-white.jpg/revision/latest/scale-to-width-down/350?cb=20110924203518"),
        new("Bruce", "https://static.wikia.nocookie.net/pixar/images/e/e3/Bruce-render.png/revision/latest/scale-to-width-down/350?cb=20181210152244"),
        new("Gill", "https://static.wikia.nocookie.net/pixar/images/7/72/Gill.png/revision/latest/scale-to-width-down/350?cb=20210322233843")
    };

    Item currentItem;
    int currentPosition;

    record Item(string Name, ImageSource Image);
}
