<ContentPage Title="TableView">
    <TableView>
        <TableRoot>
            <TableSection Title="Cells examples">
                <TextCell Text="Click me" Detail="Tapping makes something happen." OnTapped="OnCellTapped" />
                <EntryCell Label="Enter your name:" @bind-Text="entryText" />
                <SwitchCell Text=@($"Switch is turned {(switchOn ? "on" : "off")}") @bind-On="switchOn" />
            </TableSection>

            <TableSection Title="ViewCells">
                <ViewCell>
                    <Label>Cell above was @tapped time(s).</Label>
                </ViewCell>
                <ViewCell>
                    <ContextActions>
                        <MenuItem Text="Stop" OnClick="StopTheIndicator" />
                    </ContextActions>

                    <ChildContent>
                        <HorizontalStackLayout>
                            <Label>This ViewCell has context actions.</Label>
                            <ActivityIndicator IsRunning="indicatorEnabled" />
                        </HorizontalStackLayout>
                    </ChildContent>
                </ViewCell>
            </TableSection>

        </TableRoot>
    </TableView>
</ContentPage>

@code {
int tapped = 0;
string entryText;
bool switchOn;
bool indicatorEnabled = true;

void OnCellTapped() => tapped++;
void StopTheIndicator() => indicatorEnabled = false;
}
