@page "/edit-text/editors"

<ContentPage Title="Editor">
    <StackLayout Margin="20">
        <Label>@Test</Label>
        <Editor @bind-Text="_text" OnCompleted="OnCompleted" AutoSize="EditorAutoSizeOption.TextChanges" />
        <Label Text=@($"Edits count: {_editsNumber}. Text entered: {_text}") />
    </StackLayout>
</ContentPage>

@code
{
    [CascadingParameter(Name = "test")] public int Test { get; set; }

string _text;
int _editsNumber;

void OnCompleted()
{
    _editsNumber++;
}
}