@page "/edit-text/editors"

<ContentControl Tag="Editor">
    <StackPanel Margin="20">
        <Label>@Test</Label>
        <TextBox @bind-Text="_text" OnTextInput="OnCompleted" />
        <Label>Edits count: @_editsNumber. Text entered: @_text</Label>
    </StackPanel>
</ContentControl>

@code
{
    [CascadingParameter(Name = "test")] public int Test { get; set; }

string _text;
int _editsNumber;

void OnCompleted()
{
    _editsNumber++;
}
}