@page "/edit-text/editor"

@{
    RenderFragment Separator = @<BoxView Color="Colors.LightGray" HeightRequest="1" />;
}

<ContentPage Title="Entry">
    <StackLayout Margin="20">
        <Entry @bind-Text="_text" OnCompleted="OnCompleted" />
        <Label Text=@($"Edits count: {_editsNumber}. Text entered: {_text}") />

        @Separator

        <Label>Email entry: @_email</Label>
        <Entry @bind-Text="_email" Keyboard="Keyboard.Email" />

        @Separator

        <Label>Int entry: @_int</Label>
        <Entry @bind-Text="_int" Keyboard="Keyboard.Numeric" />

        @Separator

        <Label>Double? entry: @_double</Label>
        <Entry @bind-Text="_double" Keyboard="Keyboard.Numeric" />
        <Button Text="Set double to 12.34" OnClick="() => _double = 12.34" />

        @Separator

    </StackLayout>
</ContentPage>

@code
{
    string _text;
    string _email;
    int _int;
    double? _double;
    int _editsNumber;

    void OnCompleted() => _editsNumber++;
}