<ContentControl>
    <Label>It should fail.</Label>
</ContentControl>

@code
{
    protected override void OnInitialized()
    {
        throw new InvalidOperationException("Should fail here.");
    }
}
