<ContentControl Tag="@("Page1")">
    <Label>1</Label>
</ContentControl>

<ContentControl Tag="@("Page2")" *@>
    <Label>2</Label>
</ContentControl>

<ContentControl Tag="@("Page3")">
    <Label>3</Label>
</ContentControl>