<ContentPage Title="Test">
    <VerticalStackLayout>
        <Label>@Par1</Label>
        <Label>@Par2</Label>
        <NonPageContent />
    </VerticalStackLayout>
</ContentPage>

@code {
[Parameter] public string Par1 { get; set; }
[Parameter] public int Par2 { get; set; }

public static void ValidateContent(MC.Element content, string par1, int par2)
{
    var contentPage = content as MC.ContentPage;
    Assert.IsNotNull(contentPage);
    Assert.That(contentPage.Title, Is.EqualTo("Test"));

    var stack = contentPage.Content as MC.VerticalStackLayout;
    Assert.IsNotNull(stack);

    var label1 = (stack.Children[0] as MC.Label)?.Text;
    Assert.That(label1, Is.EqualTo(par1));

    var label2 = (stack.Children[1] as MC.Label)?.Text;
    Assert.That(label2, Is.EqualTo(par2.ToString()));

    NonPageContent.ValidateContent(stack.Children[2]);
}
}