@inherits ElementTestBase

@code {
[Test]
public async Task CreateControlFromTemplate()
{
    var template = await RenderTemplate(
    @<StackLayout>
        <Label>1</Label>
        <Label>2</Label>
    </StackLayout>
    );

    var content = template.CreateContent().GetTemplateContent<MC.StackLayout>();
    var label1 = (MC.Label)content.Children[0];
    var label2 = (MC.Label)content.Children[1];

    Assert.That(label1.Text, Is.EqualTo("1"));
    Assert.That(label2.Text, Is.EqualTo("2"));
}

[Test]
public async Task TemplateCreatesNewControlsEachTime()
{
    var template = await RenderTemplate(@<Label>-</Label>);

    var label1 = template.CreateContent().GetTemplateContent<MC.Label>();
    var label2 = template.CreateContent().GetTemplateContent<MC.Label>();

    Assert.That(label1.Text, Is.EqualTo("-"));
    Assert.That(label2.Text, Is.EqualTo("-"));

    label1.Text = "1";
    label2.Text = "2";

    Assert.That(label1.Text, Is.EqualTo("1"));
    Assert.That(label2.Text, Is.EqualTo("2"));
}

private async Task<MC.ControlTemplate> RenderTemplate(RenderFragment fragment)
{
    var contentView = await Render<MC.ContentView>(@<ContentView ControlTemplate="fragment" />);
    return contentView.ControlTemplate;
}
}