@using ControlGallery.Models

@inject INavigation Navigation

<ContentControl Tag="@("Navigation modal")">
    <ScrollViewer>
        <StackPanel Margin="6" Spacing="6">
            <Label>Name: @Item.Name</Label>
            <Label>Value: @Item.Value</Label>

            <Button OnClick="Close">Close</Button>
        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {
[Parameter] public NavigationParameterModel Item { get; set; }

async Task Close()
{
    await Navigation.PopModalAsync();
}
}
