@using ControlGallery.Models

<ContentControl Tag="@("Navigation target")">
    <ScrollViewer>
        <StackPanel Margin="6" Spacing="6">

            <Label>@Test</Label>

            <Label>Target page</Label>

            <Label>Name:</Label>
            <TextBlock @bind-Text="name" />

            <Label>Value:</Label>
            <TextBlock @bind-Text="value" />

            <Button OnClick="Save">Save</Button>

            <Button OnClick="Notify">Notify about event</Button>
        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {
    [CascadingParameter(Name = "test")] public int Test { get; set; }

    [Parameter] public NavigationParameterModel Item { get; set; }
    [Parameter] public EventCallback<NavigationParameterModel> ItemChanged { get; set; }
    [Parameter] public EventCallback EventHappened { get; set; }

    string name;
    string value;

    protected override void OnInitialized()
    {
        name = Item?.Name;
        value = Item?.Value;
    }

    async Task Save()
    {
        await ItemChanged.InvokeAsync(new NavigationParameterModel(name, value));
    }

    async Task Notify()
    {
        await EventHappened.InvokeAsync();
    }

}
