@using ControlGallery.Models

@inject NavigationService Navigation

<ContentPage Title="Navigation modal">
    <ScrollView>
        <VerticalStackLayout Padding="6" Spacing="6">
            <Label>Name: @Item.Name</Label>
            <Label>Value: @Item.Value</Label>

            <Button Text="Close" OnClick="Close" />
        </VerticalStackLayout>
    </ScrollView>
</ContentPage>

@code {
    [Parameter] public NavigationParameterModel Item { get; set; }

    async Task Close()
    {
        await Navigation.PopModalAsync();
    }
}
