@page "/shell-navigation"
@using ControlGallery.Models
@inject INavigation NavigationManager

<ContentControl Tag="@("URI navigation")">
    <ScrollViewer>
        <StackPanel>
            <Button OnClick="NavigateNoParameter">Navigate with no parameters</Button>
            <Button OnClick="NavigateWithName">Navigate with name string</Button>
            <Button OnClick="NavigateWithNameSubpath">Navigate with name string (with subpath)</Button>
            <Button OnClick="NavigateWithNameAndVersion">Navigate with name string and version int</Button>
            <Button OnClick="NavigateWithNameVersionDate">Navigate with name, version, date</Button>
            <Button OnClick="NavigateWithLong">Navigate with Long" </Button>
            <Button OnClick="NavigateWithDouble">Navigate with double" </Button>
            <Button OnClick="NavigateWithFloat">Navigate with float" </Button>
            <Button OnClick="NavigateWithDecimal">Navigate with decimal" </Button>
            <Button OnClick="NavigateWithGuid">Navigate with Guid" </Button>
            <Button OnClick="NavigateWithNullableGuid">Navigate with Nullable&lt;Guid&gt;</Button>
            <Button OnClick="NavigateWithBool">Navigate with Bool" </Button>
            <Button OnClick="NavigateWithAdditionalParameters">Navigate with query parameters</Button>
        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code
{
    async Task NavigateNoParameter() => await NavigationManager.NavigateToAsync("/target");
    async Task NavigateWithName() => await NavigationManager.NavigateToAsync("/target/maui");
    async Task NavigateWithNameSubpath() => await NavigationManager.NavigateToAsync("/target/maui/subpath");
    async Task NavigateWithNameAndVersion() => await NavigationManager.NavigateToAsync("/target/maui/5");
    async Task NavigateWithNameVersionDate() => await NavigationManager.NavigateToAsync("/target/maui/5/2020-09-12");
    async Task NavigateWithLong() => await NavigationManager.NavigateToAsync("/long/55");
    async Task NavigateWithDouble() => await NavigationManager.NavigateToAsync("/double/55.43");
    async Task NavigateWithFloat() => await NavigationManager.NavigateToAsync("/float/55.43");
    async Task NavigateWithDecimal() => await NavigationManager.NavigateToAsync("/decimal/55.43");
    async Task NavigateWithGuid() => await NavigationManager.NavigateToAsync($"/guid/{Guid.NewGuid()}");
    async Task NavigateWithNullableGuid() => await NavigationManager.NavigateToAsync($"/nullable-guid/{Guid.NewGuid()}");
    async Task NavigateWithBool() => await NavigationManager.NavigateToAsync("/bool/true");

    async Task NavigateWithAdditionalParameters() => await NavigationManager.NavigateToAsync("/target", new Dictionary<string, object>
        {
            ["Query1"] = new NavigationParameterModel("Q1", "V1"),
            ["Query2"] = new NavigationParameterModel("Q2", null)
        });
}
