<Border Background="Brushes.LightBlue"
        Margin="new(8)"
        Padding="new(8)"
        CornerRadius="new(4)">

    <Label>@(Item.Text)</Label>

</Border>

@code {
    [Parameter] public TextItemModel Item { get; set; }
}
