@page "/sub"
@* @inherits NativeControlComponentBase *@

@namespace BlazorBindings.AvaloniaBindings.HelloWorld

@using BlazorBindings.AvaloniaBindings.Elements
@using System.Collections.ObjectModel
@using BlazorBindings.AvaloniaBindings.Elements.Shapes
@using BlazorBindings.Core;
@using global::Avalonia.Layout
@using global::Avalonia
@using global::Avalonia.Media
@using global::Avalonia.Media.Imaging;
@using BlazorBindings.AvaloniaBindings.Extensions
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.CompilerServices
@using Microsoft.AspNetCore.Components.Infrastructure
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.RenderTree
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Sections
@inject INavigation navigation

<ScrollViewer>
    <StackPanel HorizontalAlignment="HorizontalAlignment.Center"
                VerticalAlignment="VerticalAlignment.Top">
        <TextBlock Text="Sub" Foreground="Brushes.White"></TextBlock>
        <Button OnClick="Back">Back</Button>
    </StackPanel>
</ScrollViewer>

@code {
    public async Task Back()
    {
        await navigation.PopAsync();
    }
}