<ContentControl Tag="DatePicker">
    <StackPanel Margin="20">
        <DatePicker @bind-SelectedDate="_date" />
        <Label>Selected date: @_date</Label>
    </StackPanel>
</ContentControl>

@code
{
    private DateOnly _date = DateOnly.FromDateTime(DateTime.Today);
}
