<ContentControl Tag="@("DatePicker")">
    <StackPanel Margin="new(20)">
        <DatePicker @bind-SelectedDate="_date" />
        <Label>Selected date: @_date</Label>
    </StackPanel>
</ContentControl>

@code
{
    private DateTimeOffset? _date = new DateTimeOffset(DateTime.Today);
}
