@page "/controls/radiobuttons"

<ContentControl Tag="@("RadioButtons")">
    <ScrollViewer>
        <StackPanel Spacing="20" Margin="new(10)">
            <Label>RadioButtons with int values. Selected value: @selectedIntValue</Label>

            @* <RadioButtonGroup @bind-SelectedValue="selectedIntValue"> *@
            <RadioButton Value="24" GroupName="A" />
            <RadioButton Value="25" GroupName="A" />
            <RadioButton Value="26" GroupName="A" />
            @* </RadioButtonGroup> *@

            <Label>RadioButtons with pre-selected enum value and titles. Selected value: @selectedEnumValue</Label>

            @* <RadioButtonGroup @bind-SelectedValue="selectedEnumValue"> *@
            <RadioButton Value="ValueEnum.A" GroupName="B">First (A)</RadioButton>
            <RadioButton Value="ValueEnum.B" GroupName="B">Second (B)</RadioButton>
            <RadioButton Value="ValueEnum.C" GroupName="B">Third (C)</RadioButton>
            @* </RadioButtonGroup> *@

            <Button OnClick="ChangeSelection">Change selection</Button>

            <Label>RadioButtons with custom ControlTemplate. Selected value: @selectedStringValue</Label>
            @* <RadioButtonGroup @bind-SelectedValue="selectedStringValue"> *@
                <RadioButtonTemplated Value=@("String 1") GroupName="C"/>
                <RadioButtonTemplated Value=@("String 2") GroupName="C"/>
                <RadioButtonTemplated Value=@("String 3") GroupName="C"/>
            @* </RadioButtonGroup> *@

        </StackPanel>
    </ScrollViewer>
</ContentControl>

@code {
    int? selectedIntValue;
    ValueEnum selectedEnumValue = ValueEnum.B;
    string selectedStringValue;

    void ChangeSelection()
    {
        selectedEnumValue = selectedEnumValue switch
        {
            ValueEnum.A => ValueEnum.B,
            ValueEnum.B => ValueEnum.C,
            _ => ValueEnum.A
        };
    }

    enum ValueEnum
    {
        A, B, C
    }
}
