<ContentPage Title="Switch">
    <VerticalStackLayout Margin="20">

        <Grid ColumnDefinitions="*,Auto">
            <Label VerticalOptions="LayoutOptions.Center" Grid.Column="0">Toggle Title</Label>
            <Switch @bind-IsToggled="_isToggled" Grid.Column="1" />
        </Grid>

        <Label>Switch is turned @(_isToggled ? "on" : "off")!</Label>
    </VerticalStackLayout>
</ContentPage>

@code
{
    private bool _isToggled;
}
