<ContentControl Tag="@("Switch")">
    <StackPanel Margin="new(20)">

        <Grid ColumnDefinitions="@new("*,Auto")">
            <Label VerticalAlignment="VerticalAlignment.Center" Grid.Column="0">Toggle Title</Label>
            <ToggleSwitch @bind-IsChecked="_isToggled" Grid.Column="1" />
        </Grid>

        <Label>Switch is turned @(_isToggled == true ? "on" : "off")!</Label>
    </StackPanel>
</ContentControl>

@code
{
    private bool? _isToggled;
}
