<ContentControl Tag="@("TimePicker")">
    <StackPanel Margin="new Avalonia.Thickness(20)">
        <TimePicker @bind-SelectedTime="_time" />
        <Label>Selected time: @_time</Label>
    </StackPanel>
</ContentControl>

@code
{
    private TimeSpan? _time = TimeSpan.FromTicks(DateTime.Now.Ticks - DateTime.Now.Date.Ticks);
}
