<ContentControl Tag="TimePicker">
    <StackPanel Margin="20">
        <TimePicker @bind-SelectedTime="_time" />
        <Label>Selected time: @_time</Label>
    </StackPanel>
</ContentControl>

@code
{
    private TimeOnly _time = TimeOnly.FromDateTime(DateTime.Now);
}
